[global-exclude]
regex-exclude=.*\.tmp$

[python]
delete:
    file=C:\Path\To\file1.txt
    file=C:\Path\To\file2.log
    directory=C:\Path\To\dir1
regex-exclude:
    ^.*\\important\.txt$
    ^.*\\backup$
    .*\.bak$

[R]
delete:
    file=C:\Path\To\file3.R
    directory=C:\Path\To\dir2
regex-exclude:
    ^.*\\important\.R$
    ^.*\\backup$
    .*\.temp$

[java]
delete:
    file=C:\Path\To\file4.jar
    directory=C:\Path\To\dir3
regex-exclude:
    ^.*\\lib$
    ^.*\\backup$
    .*\.log$
