[global-exclude]
file=backup
directory=important
regex-exclude=.*\.tmp$

[python]
delete:
    file=C:\Chemin\Vers\file1.txt
    file=C:\Chemin\Vers\file2.log
    directory=C:\Chemin\Vers\dir1
exclude:
    file=important.txt
    directory=backup
regex-exclude=.*\.bak$

[R]
delete:
    file=C:\Chemin\Vers\file3.R
    directory=C:\Chemin\Vers\dir2
exclude:
    file=important.R
    directory=backup
regex-exclude=.*\.temp$

[java]
delete:
    file=C:\Chemin\Vers\file4.jar
    directory=C:\Chemin\Vers\dir3
exclude:
    file=lib
    directory=backup
regex-exclude=.*\.log$
